Node-RED Dashboards User Interface/Node-RED Dashboards User Interface.txt
[{"id":"82965f46.d4655","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"af696592.b11588","type":"modbus-client","name":"Solo Process Temperature Controller","clienttype":"serial","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM8","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"0","unit_id":"1","commandDelay":"0","clientTimeout":"500","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"1bb18b53.a6d865","type":"modbus-client","name":"Click PLC","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.130","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"91810cb.3f246f","type":"ui_tab","name":"ACC Automation","icon":"dashboard","disabled":false,"hidden":false},{"id":"110c28ef.80f667","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5dc177a3.3d1588","type":"ui_group","name":"Solo Process Temperature Controller","tab":"91810cb.3f246f","order":1,"disp":true,"width":"8","collapse":false},{"id":"469e4b90.df2034","type":"ui_group","name":"Default","tab":"91810cb.3f246f","order":2,"disp":true,"width":"6","collapse":false},{"id":"a64217bb.609e78","type":"modbus-client","name":"Rail System","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.160","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"e4af32bf.7d1b6","type":"inject","z":"82965f46.d4655","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["74441c25.647854"]],"info":"ACC Automation Sample Code"},{"id":"74441c25.647854","type":"function","z":"82965f46.d4655","name":"","func":"msg.payload = {\n    'fc': 3, \n    'unitid': 1, \n    'address': 4096,\n    'quantity': 2 \n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":294,"y":124,"wires":[["98a91040.03b19"]]},{"id":"98a91040.03b19","type":"modbus-flex-getter","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"af696592.b11588","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":494,"y":124,"wires":[[],["ba1d2184.227d","b795399d.895c28"]]},{"id":"ba1d2184.227d","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":794,"y":124,"wires":[]},{"id":"b795399d.895c28","type":"function","z":"82965f46.d4655","name":"","func":"var values = msg.payload.data;\nmsg.payload = { \n    'value': values, \n    'fc': 16, \n    'unitid': 1, \n    'address': 0, \n    'quantity': 2 \n    } \nflow.set(\"PV\", msg.payload.value[0]);\nflow.set(\"SV\", msg.payload.value[1]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":200,"wires":[["64fafa0b.485094","2028fc2e.503e54","a3114b68.6e2e98","8c864dbd.cdd8e"]]},{"id":"64fafa0b.485094","type":"modbus-flex-write","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":true,"server":"1bb18b53.a6d865","emptyMsgOnFail":false,"keepMsgProperties":false,"x":504,"y":224,"wires":[[],["aa4136d2.8677c8","b47d41ee.4b17e"]]},{"id":"aa4136d2.8677c8","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":814,"y":224,"wires":[]},{"id":"b47d41ee.4b17e","type":"function","z":"82965f46.d4655","name":"","func":"msg.payload = {\n    'fc': 3, \n    'unitid': 1, \n    'address': 2 , \n    'quantity': 1 \n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":460,"wires":[["a34a964d.685768"]]},{"id":"a34a964d.685768","type":"modbus-flex-getter","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"1bb18b53.a6d865","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":500,"y":460,"wires":[[],["98e68266.031d8","c74e03cc.fe8a2","291f989d.d692f8"]]},{"id":"98e68266.031d8","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":800,"y":460,"wires":[]},{"id":"68c4502c.2ea39","type":"modbus-flex-write","z":"82965f46.d4655","name":"","showStatusActivities":false,"showErrors":false,"server":"af696592.b11588","emptyMsgOnFail":false,"keepMsgProperties":false,"x":610,"y":640,"wires":[[],["6124e7d0.9df3b8"]]},{"id":"6124e7d0.9df3b8","type":"modbus-response","z":"82965f46.d4655","name":"","registerShowMax":20,"x":826,"y":656,"wires":[]},{"id":"85cc93c0.fce5c","type":"comment","z":"82965f46.d4655","name":"Modbus TCP Click PLC - Modbus RTU Solo Process Temperature Controller","info":"ACC Automation - Sample Program\n","x":310,"y":20,"wires":[]},{"id":"6b30bb27.e4f764","type":"comment","z":"82965f46.d4655","name":"Read PV and SV from Solo - Modbus RTU","info":"","x":720,"y":80,"wires":[]},{"id":"ddd42801.52bed8","type":"comment","z":"82965f46.d4655","name":"Write PV and SV to Click PLC - Modbus TCP","info":"","x":730,"y":180,"wires":[]},{"id":"8eac12b6.44acf","type":"comment","z":"82965f46.d4655","name":"Read SV from Click PLC - Modbus TCP","info":"","x":706,"y":416,"wires":[]},{"id":"f1d2d5d7.ebb778","type":"comment","z":"82965f46.d4655","name":"Write SV to Solo - Modbus RTU","info":"","x":706,"y":596,"wires":[]},{"id":"e6390c4.83ab2f","type":"comment","z":"82965f46.d4655","name":"Modbus Communication Update Interval","info":"","x":190,"y":80,"wires":[]},{"id":"291f989d.d692f8","type":"ui_switch","z":"82965f46.d4655","name":"","label":"SV Local or Click PLC","tooltip":"","group":"5dc177a3.3d1588","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":320,"y":540,"wires":[["5b74ec40.649d34"]]},{"id":"ff407cc5.4baec","type":"ui_slider","z":"82965f46.d4655","name":"","label":"SV Local Control","tooltip":"","group":"5dc177a3.3d1588","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"1000","step":"1","x":675,"y":540,"wires":[["31ed3002.c9d17"]]},{"id":"c74e03cc.fe8a2","type":"function","z":"82965f46.d4655","name":"","func":"var values = [msg.payload.data[0]];\nif (flow.get(\"Switch\"))\n{\n  values = [flow.get(\"Slider\")];  \n}\nmsg.payload = { \n    'value': values, \n    'fc': 16, \n    'unitid': 1, \n    'address': 4097, \n    'quantity': 1 \n    } \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":640,"wires":[["68c4502c.2ea39"]]},{"id":"3cdc0f1.0af85f","type":"ui_chart","z":"82965f46.d4655","name":"","group":"5dc177a3.3d1588","order":1,"width":0,"height":0,"label":"Solo Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"120","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff0000","#00fa00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":350,"y":280,"wires":[[]]},{"id":"2028fc2e.503e54","type":"function","z":"82965f46.d4655","name":"","func":"msg = { payload: parseFloat(flow.get(\"PV\")/10) };\nmsg1 ={ payload: parseFloat(flow.get(\"SV\")/10) };\nmsg.topic = \"PVline\";\nmsg1.topic = \"SVline\";\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":120,"y":280,"wires":[["3cdc0f1.0af85f"],["3cdc0f1.0af85f"]]},{"id":"5b74ec40.649d34","type":"function","z":"82965f46.d4655","name":"","func":"flow.set(\"Switch\", msg.payload);\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":499,"y":540,"wires":[["ff407cc5.4baec"]]},{"id":"31ed3002.c9d17","type":"function","z":"82965f46.d4655","name":"","func":"flow.set(\"Slider\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":853,"y":540,"wires":[[]]},{"id":"f91c477c.932048","type":"ui_text","z":"82965f46.d4655","group":"5dc177a3.3d1588","order":3,"width":0,"height":0,"name":"","label":"SV","format":"{{msg.payload}}","layout":"row-center","x":270,"y":360,"wires":[]},{"id":"8c864dbd.cdd8e","type":"function","z":"82965f46.d4655","name":"","func":"msg = { payload: parseFloat(flow.get(\"PV\")/10) };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":320,"wires":[["e7726423.8d6628"]]},{"id":"a3114b68.6e2e98","type":"function","z":"82965f46.d4655","name":"","func":"msg ={ payload: parseFloat(flow.get(\"SV\")/10) };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":360,"wires":[["f91c477c.932048"]]},{"id":"e7726423.8d6628","type":"ui_text","z":"82965f46.d4655","group":"5dc177a3.3d1588","order":2,"width":"0","height":"0","name":"","label":"PV","format":"{{msg.payload}}","layout":"row-center","x":270,"y":320,"wires":[]}]